nav {
    background-color: #1a75bc;
    height: 80px;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav img {
    width: 40px;
    height: auto;
  }
  